nav {
  overflow: hidden;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
nav a {
  font-family: 'Calibri', sans-serif;
  float: right;
  display: block;
  color: #dc1b1b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
nav .active {
  background-color: #79d7f5;
  color: #ef0909;
}
.dropdown {
  display: none;
}
@media screen and (max-width: 600px) {
  nav {
    height: 70px;
  }
  .links {
    display: none;
  }
  .dropdown {
    display: flex;
    text-align: right;
    justify-self: right;
    justify-content: right;
    justify-items: right;
    margin: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 10px;
    margin: 10px;
  }
  .dropdown:hover .dropdown-content {
    display: inline-block;
    margin: 10px;
  }
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  font-size: 35px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}
.homePage {
  background-color: aquamarine;
  margin: 80px;
  text-align: center;
}
.homePage h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  font-size: 35px;
}
.homePage h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}
.homePage p {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  font-size: 15px;
}
.about {
  margin: 80px;
  background-color: skyblue;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  font-size: 15px;
}
.headerFlavor {
  margin: 80px;
  text-align: center;
}
.flavors {
  background-color: aquamarine;
  margin: 100px;
  color: darkblue;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.flavors img {
  margin: 60px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-self: center;
}
.flavors .blue blueImg {
  margin: 60px;
  height: 200px;
  width: 200px;
  display: flex;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.flavors .blue blueImg:hover {
  opacity: 0.7;
}
.flavors .blue .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
}
.flavors .blue .modal-content .blue2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}
.flavors .blue .blue2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.flavors .blue .modal-content,
.flavors .blue .blue2 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.flavors .blue .close {
  position: absolute;
  top: 85px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.flavors .blue .close:hover,
.flavors .blue .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.flavors .chocolate chocImg {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.flavors .chocolate chocImg:hover {
  opacity: 0.7;
}
.flavors .chocolate .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
}
.flavors .chocolate .modal-content .choc2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}
.flavors .chocolate .choc2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.flavors .chocolate .modal-content,
.flavors .chocolate .choc2 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.flavors .chocolate .close {
  position: absolute;
  top: 85px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.flavors .chocolate .close:hover,
.flavors .chocolate .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.flavors .vanilla vanImg {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.flavors .vanilla vanImg:hover {
  opacity: 0.7;
}
.flavors .vanilla .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
}
.flavors .vanilla .modal-content .van2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}
.flavors .vanilla .van2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.flavors .vanilla .modal-content,
.flavors .vanilla .van2 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.flavors .vanilla .close {
  position: absolute;
  top: 85px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.flavors .vanilla .close:hover,
.flavors .vanilla .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.flavors .theTrio trioImg {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.flavors .theTrio trioImg:hover {
  opacity: 0.7;
}
.flavors .theTrio .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
}
.flavors .theTrio .modal-content .trio2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}
.flavors .theTrio .trio2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.flavors .theTrio .modal-content,
.flavors .theTrio .trio2 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.flavors .theTrio .close {
  position: absolute;
  top: 85px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.flavors .theTrio .close:hover,
.flavors .theTrio .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.contactBody {
  background-color: skyblue;
  margin: 80px;
  text-align: center;
}
.contact {
  margin-bottom: 80px;
  /* Clear floats after the columns */
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
}
.contact * {
  box-sizing: border-box;
}
.contact input[type=text],
.contact select,
.contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid darkblue;
  border-radius: 4px;
  resize: vertical;
}
.contact label {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.contact input[type=submit] {
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
  padding: 12px 20px;
  border: 2px solid darkblue;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.contact input[type=submit]:hover {
  background-color: aquamarine;
}
.contact input[type=text]:focus {
  background-color: lightcoral;
  border: 1px solid black;
}
.contact input[type=textarea]:focus {
  background-color: lightcoral;
  border: 1px solid black;
}
.contact .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contact .column1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.contact .column2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.contact .row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .contact .col-25,
  .contact .col-75,
  .contact input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.footer {
  margin-left: -80px;
  width: 100%;
  height: 80px;
  background-color: lightcoral;
  position: fixed;
  bottom: 0;
  text-align: center;
}
.footer a {
  margin: 30px;
  font-size: 35px;
}
/*# sourceMappingURL=style.css.map */